{% extends 'admin/shell.html.twig' %}
{% block content %}
{{form_start(form)}}
{%- if form.path is defined -%}
{{form_row(form.path)}}
{%- endif -%}
{%- if form.content is defined -%}
{{form_row(form.content)}}
{%- endif -%}
<div class="formFoot"><button type="submit">Submit</button></div>
{{form_end(form)}}
{%- if form.path is not defined -%}
<p><a href="{{path('tjm_wiki_remove_file', {path: file.path})}}">Remove</a></p>
{%- endif -%}
{% endblock content %}
