<!doctype html>
<meta charset="utf-8" />
<title>{{name}} - Admin - {{wiki.name}}</title>
<meta content="initial-scale=1,width=device-width" name="viewport" />
<link rel="stylesheet" href="{{asset('_assets/styles/admin.css')}}" />
<h1>{{name}}</h1>
{% if block('content') is defined %}
{{block('content')|raw}}
{% else %}
{{content|raw}}
{% endif %}
