<!doctype html>
<meta charset="utf-8" />
<title>{% if name is defined and name != wiki.name %}{{name}} - {% endif %}{{wiki.name}}</title>
<meta content="initial-scale=1,width=device-width" name="viewport" />
<link rel="stylesheet" href="{{asset('_assets/styles/public.css')}}" />
<h1>{{name}}</h1>
{{content|raw}}
