<!DOCTYPE html>
<html lang="en"{% if format == 'xhtml' %} xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"{% endif %}>
<head>
	<meta charset="utf-8" />
	<title>{% if name is defined and name != wiki.name %}{{name}} - {% endif %}{{wiki.name}}</title>
	<meta content="initial-scale=1,width=device-width" name="viewport" />
	<link rel="stylesheet" href="{{asset('_assets/styles/public.css')}}" />
</head>
<body>
	{% if name is defined and name == wiki.name %}
	<h1>{{name}}</h1>
	{% else %}
	<header class="appHeader">
		<a class="logo" href="{{path('tjm_wiki', {path: ''})}}">{{wiki.name}}</a>
	</header>
	<h1>{{name}}</h1>
	{% endif %}
	{% if block('content') is defined %}
	{{block('content')|raw}}
	{% else %}
	{{content|raw}}
	{% endif %}
</body>
</html>
